.main {
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
  transition: max-height 0.4s ease-in-out;
  max-height: 60px; /* Adjust to fit mainHeader */
  overflow: hidden;
}

.headerExpanded {
  max-height: 120px; /* Adjust to fit expanded content */
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actionButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile {
  position: relative;
}

.content {
  padding-top: 2rem;
}

.expandableContent {
  padding-top: 1rem;
  width: 100%;
  transform-origin: top;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
  transform: scaleY(0);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.headerExpanded .expandableContent {
  transform: scaleY(1);
  opacity: 1;
  max-height: 60px; /* Adjust to fit content */
}

.inputContainer {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.cancelButton {
  background-color: #ccc;
  color: #333;
}